@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Josefin+Sans&family=Open+Sans&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #faf6e0; }

main {
  width: 100%; }
  main section {
    width: 100%; }
    main section::after {
      content: '';
      display: block;
      clear: both; }
    main section .item-sizer {
      width: 20%;
      height: 0px;
      opacity: 0; }
    main section .item {
      float: left;
      width: 20%;
      height: 200px;
      border-right: 1px solid #bbb;
      border-top: 1px solid #bbb;
      transition: 0.5s; }
      main section .item:nth-of-type(2) {
        width: 100%;
        height: 100px; }
        main section .item:nth-of-type(2) .inner .txt p {
          font: 60px/1 'Heebo';
          text-align: left;
          padding: 20px 0; }
      main section .item:nth-of-type(3) {
        width: 60%;
        height: 400px; }
        main section .item:nth-of-type(3) .inner img {
          height: 90%; }
      main section .item:nth-of-type(4), main section .item:nth-of-type(15) {
        height: 400px; }
      main section .item:nth-of-type(5) {
        height: 500px; }
        main section .item:nth-of-type(5) .inner .wrap {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: stretch;
          padding: 10px; }
          main section .item:nth-of-type(5) .inner .wrap span {
            display: flex;
            justify-content: space-between;
            font: 15px/1 'Heebo';
            margin-bottom: 10px; }
            main section .item:nth-of-type(5) .inner .wrap span strong {
              font: 15px/1 'Heebo'; }
          main section .item:nth-of-type(5) .inner .wrap img {
            object-fit: cover; }
          main section .item:nth-of-type(5) .inner .wrap p {
            font: 15px/1.3 'Heebo';
            margin-top: 10px; }
      main section .item:nth-of-type(7), main section .item:nth-of-type(9), main section .item:nth-of-type(12), main section .item:nth-of-type(16), main section .item:nth-of-type(17), main section .item:nth-of-type(21), main section .item:nth-of-type(22), main section .item:nth-of-type(25), main section .item:nth-of-type(26) {
        height: 100px; }
      main section .item:nth-of-type(7), main section .item:nth-of-type(13), main section .item:nth-of-type(23) {
        width: 40%; }
      main section .item:nth-of-type(10) {
        width: 40%;
        height: 400px; }
      main section .item:nth-of-type(11), main section .item:nth-of-type(18) {
        height: 400px; }
      main section .item:nth-of-type(19) {
        width: 40%;
        height: 600px; }
      main section .item:nth-of-type(7) .inner p, main section .item:nth-of-type(12) .inner p, main section .item:nth-of-type(17) .inner p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font: 20px/1 'Heebo';
        letter-spacing: 2px; }
        main section .item:nth-of-type(7) .inner p i, main section .item:nth-of-type(12) .inner p i, main section .item:nth-of-type(17) .inner p i {
          position: absolute;
          right: 3%;
          display: block; }
      main section .item:nth-of-type(8) .inner {
        text-align: right;
        padding: 20px; }
        main section .item:nth-of-type(8) .inner p {
          border-top: 3px solid #111;
          font: bold 17px/1 'Heebo';
          margin-bottom: 5px;
          padding-top: 5px; }
        main section .item:nth-of-type(8) .inner h2 {
          font: bold 45px/1 'Heebo';
          letter-spacing: -5px; }
        main section .item:nth-of-type(8) .inner h3 {
          font: bold 30px/1 'Heebo';
          letter-spacing: -2px;
          margin-bottom: 5px; }
        main section .item:nth-of-type(8) .inner span {
          font: bold 14px/1 'Heebo';
          display: block;
          border-bottom: 3px solid #111;
          padding-bottom: 5px; }
      main section .item:nth-of-type(10) .inner img, main section .item:nth-of-type(19) .inner img {
        height: 87%;
        margin-bottom: 8px; }
      main section .item:nth-of-type(10) .inner p, main section .item:nth-of-type(19) .inner p {
        font: 30px/1 'Josefin Sans';
        text-align: left; }
      main section .item:nth-of-type(10) .inner span, main section .item:nth-of-type(19) .inner span {
        text-align: right;
        display: block;
        font: 15px/1 'Heebo';
        margin-top: 10px; }
      main section .item:nth-of-type(11) .inner p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font: 20px/1 'Heebo';
        letter-spacing: 2px;
        writing-mode: vertical-lr;
        position: relative;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0); }
      main section .item:nth-of-type(14) .inner p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font: 20px/1 'Heebo';
        letter-spacing: 2px;
        font-size: 60px; }
      main section .item:nth-of-type(14) .inner span {
        text-align: left;
        display: block; }
      main section .item:nth-of-type(21) .inner i {
        position: absolute;
        left: 3%;
        bottom: 3%;
        display: block; }
      main section .item:nth-of-type(21) .inner p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font: 20px/1 'Heebo';
        letter-spacing: 2px; }
      main section .item:nth-of-type(23) .inner p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font: 20px/1 'Heebo';
        letter-spacing: 2px;
        font-size: 55px; }
      main section .item:nth-of-type(24) {
        height: 300px; }
      main section .item .inner {
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 5px;
        text-align: center; }
        main section .item .inner img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: saturate(30%);
          margin-bottom: 5px; }
        main section .item .inner .txt {
          width: 100%;
          height: 10%;
          text-align: center; }
          main section .item .inner .txt p {
            font: 14px/1 'Heebo';
            letter-spacing: 1px; }
          main section .item .inner .txt span {
            font: 14px/1 'Heebo';
            margin-bottom: 5px; }

/*# sourceMappingURL=style.css.map */
