@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Josefin+Sans&family=Open+Sans&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

main {
  width: 100%; }
  main section {
    width: 100%; }
    main section::after {
      content: '';
      display: block;
      clear: both; }
    main section .item-sizer {
      width: 20%;
      height: 0px;
      opacity: 0; }
    main section .item {
      float: left;
      width: 20%;
      height: 200px;
      border-right: 1px solid #bbb;
      border-top: 1px solid #bbb;
      transition: 0.5s; }
      main section .item:nth-of-type(2) {
        width: 100%;
        height: 100px; }
        main section .item:nth-of-type(2) .inner .txt p {
          font: 60px/1 'Heebo';
          text-align: left;
          padding: 20px 0; }
      main section .item:nth-of-type(3) {
        width: 60%;
        height: 400px; }
        main section .item:nth-of-type(3) .inner img {
          height: 90%; }
      main section .item:nth-of-type(4), main section .item:nth-of-type(15) {
        height: 400px; }
      main section .item:nth-of-type(5) {
        height: 500px; }
      main section .item:nth-of-type(5) .inner .wrap, main section .item:nth-of-type(15) .inner .wrap, main section .item:nth-of-type(18) .inner .wrap, main section .item:nth-of-type(20) .inner .wrap, main section .item:nth-of-type(22) .inner .wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        padding: 10px; }
        main section .item:nth-of-type(5) .inner .wrap span, main section .item:nth-of-type(15) .inner .wrap span, main section .item:nth-of-type(18) .inner .wrap span, main section .item:nth-of-type(20) .inner .wrap span, main section .item:nth-of-type(22) .inner .wrap span {
          display: flex;
          justify-content: space-between;
          font: 15px/1 'Heebo';
          margin-bottom: 10px; }
          main section .item:nth-of-type(5) .inner .wrap span i, main section .item:nth-of-type(15) .inner .wrap span i, main section .item:nth-of-type(18) .inner .wrap span i, main section .item:nth-of-type(20) .inner .wrap span i, main section .item:nth-of-type(22) .inner .wrap span i {
            margin-right: 70px; }
          main section .item:nth-of-type(5) .inner .wrap span strong, main section .item:nth-of-type(15) .inner .wrap span strong, main section .item:nth-of-type(18) .inner .wrap span strong, main section .item:nth-of-type(20) .inner .wrap span strong, main section .item:nth-of-type(22) .inner .wrap span strong {
            font: 15px/1 'Heebo'; }
          main section .item:nth-of-type(5) .inner .wrap span h2, main section .item:nth-of-type(15) .inner .wrap span h2, main section .item:nth-of-type(18) .inner .wrap span h2, main section .item:nth-of-type(20) .inner .wrap span h2, main section .item:nth-of-type(22) .inner .wrap span h2 {
            font: 13px/1 'Heebo';
            border: 1px solid #333;
            border-radius: 10px;
            padding: 5px; }
        main section .item:nth-of-type(5) .inner .wrap img, main section .item:nth-of-type(15) .inner .wrap img, main section .item:nth-of-type(18) .inner .wrap img, main section .item:nth-of-type(20) .inner .wrap img, main section .item:nth-of-type(22) .inner .wrap img {
          object-fit: cover; }
        main section .item:nth-of-type(5) .inner .wrap p, main section .item:nth-of-type(15) .inner .wrap p, main section .item:nth-of-type(18) .inner .wrap p, main section .item:nth-of-type(20) .inner .wrap p, main section .item:nth-of-type(22) .inner .wrap p {
          font: 15px/1.3 'Heebo';
          margin-top: 10px; }
      main section .item:nth-of-type(7) {
        padding: 10px; }
        main section .item:nth-of-type(7) .inner {
          background: #111;
          padding: 5px; }
          main section .item:nth-of-type(7) .inner p {
            color: #fff; }
      main section .item:nth-of-type(7), main section .item:nth-of-type(9), main section .item:nth-of-type(12), main section .item:nth-of-type(16), main section .item:nth-of-type(17), main section .item:nth-of-type(21), main section .item:nth-of-type(25), main section .item:nth-of-type(26) {
        height: 100px; }
      main section .item:nth-of-type(7), main section .item:nth-of-type(13), main section .item:nth-of-type(23) {
        width: 40%; }
      main section .item:nth-of-type(10) {
        width: 40%;
        height: 400px; }
      main section .item:nth-of-type(11), main section .item:nth-of-type(18) {
        height: 400px; }
      main section .item:nth-of-type(19) {
        width: 40%;
        height: 600px; }
      main section .item:nth-of-type(7) .inner p, main section .item:nth-of-type(12) .inner p, main section .item:nth-of-type(17) .inner p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font: 20px/1 'Heebo';
        letter-spacing: 2px; }
        main section .item:nth-of-type(7) .inner p i, main section .item:nth-of-type(12) .inner p i, main section .item:nth-of-type(17) .inner p i {
          position: absolute;
          right: 3%;
          display: block; }
      main section .item:nth-of-type(8) .inner {
        text-align: right;
        padding: 20px; }
        main section .item:nth-of-type(8) .inner p {
          border-top: 3px solid #111;
          font: bold 17px/1 'Heebo';
          margin-bottom: 5px;
          padding-top: 5px; }
        main section .item:nth-of-type(8) .inner h2 {
          font: bold 45px/1 'Heebo';
          letter-spacing: -5px; }
        main section .item:nth-of-type(8) .inner h3 {
          font: bold 30px/1 'Heebo';
          letter-spacing: -2px;
          margin-bottom: 5px; }
        main section .item:nth-of-type(8) .inner span {
          font: bold 14px/1 'Heebo';
          display: block;
          border-bottom: 3px solid #111;
          padding-bottom: 5px; }
      main section .item:nth-of-type(10) .inner img, main section .item:nth-of-type(19) .inner img {
        height: 87%;
        margin-bottom: 8px; }
      main section .item:nth-of-type(10) .inner p, main section .item:nth-of-type(19) .inner p {
        font: 30px/1 'Josefin Sans';
        text-align: left; }
      main section .item:nth-of-type(10) .inner span, main section .item:nth-of-type(19) .inner span {
        text-align: right;
        display: block;
        font: 15px/1 'Heebo';
        margin-top: 10px; }
      main section .item:nth-of-type(11) .inner {
        padding: 50px 20px; }
        main section .item:nth-of-type(11) .inner p {
          font: 30px/1 'Heebo';
          margin-bottom: 35px; }
        main section .item:nth-of-type(11) .inner span {
          font: 15px/1.2 'Heebo'; }
        main section .item:nth-of-type(11) .inner a {
          display: block;
          color: #111;
          width: 110px;
          height: 35px;
          font: 14px/35px 'Heebo';
          text-align: center;
          margin: 0 auto;
          border: 1px solid #333;
          border-radius: 15px;
          margin-top: 50px; }
      main section .item:nth-of-type(14) .inner p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font: 20px/1 'Heebo';
        letter-spacing: 2px;
        font-size: 60px; }
      main section .item:nth-of-type(14) .inner span {
        text-align: left;
        display: block; }
      main section .item:nth-of-type(21) .inner i {
        position: absolute;
        left: 3%;
        bottom: 3%;
        display: block; }
      main section .item:nth-of-type(21) .inner p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font: 20px/1 'Heebo';
        letter-spacing: 2px; }
      main section .item:nth-of-type(23) .inner p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font: 20px/1 'Heebo';
        letter-spacing: 2px;
        font-size: 55px; }
      main section .item:nth-of-type(20), main section .item:nth-of-type(22) {
        height: 300px; }
      main section .item:nth-of-type(22) .inner .wrap span {
        display: block;
        text-align: left; }
        main section .item:nth-of-type(22) .inner .wrap span i {
          margin-left: 6px; }
      main section .item a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: saturate(30%);
        margin-bottom: 5px; }
      main section .item .inner {
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 5px;
        text-align: center; }
        main section .item .inner .txt {
          width: 100%;
          height: 10%;
          text-align: center; }
          main section .item .inner .txt p {
            font: 14px/1 'Heebo';
            letter-spacing: 1px; }
          main section .item .inner .txt span {
            font: 14px/1 'Heebo';
            margin-bottom: 5px; }

.pop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  padding: 100px;
  z-index: 4; }
  .pop img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .pop iframe {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .pop span {
    font: bold 14px/1 'arial';
    color: #fff;
    position: absolute;
    top: 55px;
    right: 100px;
    cursor: pointer; }

@media screen and (max-width: 1179px) {
  main {
    overflow: hidden; }
    main section .item-sizer {
      width: 33.333%;
      height: 0px;
      opacity: 0; }
    main section .item {
      width: 33.333%; }
      main section .item:nth-of-type(2) {
        width: 100%;
        height: 100px; }
        main section .item:nth-of-type(2) .inner .txt p {
          font: 55px/1 'Heebo'; }
      main section .item:nth-of-type(3), main section .item:nth-of-type(7), main section .item:nth-of-type(10), main section .item:nth-of-type(13), main section .item:nth-of-type(19) {
        width: 66.666%; }
      main section .item:nth-of-type(15) .inner .wrap, main section .item:nth-of-type(18) .inner .wrap, main section .item:nth-of-type(22) .inner .wrap {
        padding: 5px; }
        main section .item:nth-of-type(15) .inner .wrap span, main section .item:nth-of-type(18) .inner .wrap span, main section .item:nth-of-type(22) .inner .wrap span {
          justify-content: initial; }
          main section .item:nth-of-type(15) .inner .wrap span i, main section .item:nth-of-type(18) .inner .wrap span i, main section .item:nth-of-type(22) .inner .wrap span i {
            margin-right: 30px;
            margin-left: 5px; }
          main section .item:nth-of-type(15) .inner .wrap span h2, main section .item:nth-of-type(18) .inner .wrap span h2, main section .item:nth-of-type(22) .inner .wrap span h2 {
            margin-left: 5px; }
      main section .item:nth-of-type(11) .inner {
        padding: 50px 30px; }
        main section .item:nth-of-type(11) .inner p {
          font: 25px/1 'Heebo';
          margin-bottom: 40px; }
      main section .item:nth-of-type(14) .inner p {
        font-size: 40px; }
      main section .item:nth-of-type(6) {
        width: 66.666%; }
      main section .item:nth-of-type(15) {
        height: 500px; }
      main section .item:nth-of-type(23) {
        width: 33.33%;
        height: 300px; }
        main section .item:nth-of-type(23) .inner p {
          font-size: 30px; } }
@media screen and (max-width: 700px) {
  main {
    overflow: hidden; }
    main section .item-sizer {
      width: 33.333%;
      height: 0px;
      opacity: 0; }
    main section .item {
      width: 33.333%; }
      main section .item:nth-of-type(2) {
        width: 100%;
        height: 100px; }
        main section .item:nth-of-type(2) .inner .txt p {
          font: 45px/1 'Heebo'; }
      main section .item:nth-of-type(3) {
        width: 100%; }
      main section .item:nth-of-type(4) {
        height: 500px; }
      main section .item:nth-of-type(5), main section .item:nth-of-type(9), main section .item:nth-of-type(15), main section .item:nth-of-type(18) {
        width: 66.666%; }
      main section .item:nth-of-type(7) {
        width: 33.333%; }
      main section .item:nth-of-type(15) .inner .wrap span h2, main section .item:nth-of-type(18) .inner .wrap span h2, main section .item:nth-of-type(22) .inner .wrap span h2 {
        display: none; }
      main section .item:nth-of-type(11) {
        height: 300px; }
        main section .item:nth-of-type(11) .inner {
          padding: 30px 10px; }
          main section .item:nth-of-type(11) .inner p {
            font: 20px/1 'Heebo';
            margin-bottom: 20px; }
          main section .item:nth-of-type(11) .inner span {
            font-size: 14px; }
          main section .item:nth-of-type(11) .inner a {
            font: 13px/30px "Heebo";
            width: 100px;
            height: 30px;
            margin-top: 20px; }
      main section .item:nth-of-type(10) .inner p, main section .item:nth-of-type(23) .inner p {
        font-size: 20px; }
      main section .item:nth-of-type(19) {
        height: 300px; }
        main section .item:nth-of-type(19) .inner p {
          font: 20px/1 'Josefin Sans'; }
        main section .item:nth-of-type(19) .inner span {
          display: none; } }

/*# sourceMappingURL=style.css.map */
