@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Josefin+Sans&family=Open+Sans&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #faf6e0; }

#header {
  width: 100%;
  position: relative; }
  #header .inner {
    width: 1180px;
    margin: 0 auto; }
    #header .inner h1 a {
      display: block;
      text-align: center;
      font: bold 24px/1 'arial';
      color: #111;
      margin-top: 50px;
      margin-bottom: 10px; }
    #header .inner p {
      text-align: center;
      font: 14px/1 'arial'; }

main {
  width: 100%;
  padding: 4vw; }
  main section {
    width: 100%; }
    main section::after {
      content: '';
      display: block;
      clear: both; }
    main section .item-sizer {
      width: 20%;
      height: 0px;
      opacity: 0; }
    main section .item {
      float: left;
      width: 20%;
      height: 200px;
      border-right: 1px solid #bbb;
      border-top: 1px solid #bbb;
      transition: 0.5s; }
      main section .item:nth-of-type(2) {
        width: 60%;
        height: 400px; }
        main section .item:nth-of-type(2) .inner img {
          height: 90%; }
      main section .item:nth-of-type(3), main section .item:nth-of-type(5), main section .item:nth-of-type(8), main section .item:nth-of-type(11), main section .item:nth-of-type(15), main section .item:nth-of-type(16), main section .item:nth-of-type(20), main section .item:nth-of-type(21), main section .item:nth-of-type(24), main section .item:nth-of-type(25) {
        height: 100px; }
      main section .item:nth-of-type(6), main section .item:nth-of-type(12), main section .item:nth-of-type(22) {
        width: 40%; }
      main section .item:nth-of-type(9), main section .item:nth-of-type(18) {
        width: 40%;
        height: 400px; }
      main section .item:nth-of-type(10), main section .item:nth-of-type(17) {
        height: 400px; }
      main section .item:nth-of-type(19) {
        width: 40%;
        height: 600px; }
      main section .item:nth-of-type(2), main section .item:nth-of-type(7), main section .item:nth-of-type(12), main section .item:nth-of-type(13), main section .item:nth-of-type(19) {
        border-left: 1px solid #bbb; }
      main section .item:nth-of-type(19), main section .item:nth-of-type(23), main section .item:nth-of-type(24), main section .item:nth-of-type(25) {
        border-bottom: 1px solid #bbb; }
      main section .item:nth-of-type(6) .inner p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font: 20px/1 'Heebo';
        letter-spacing: 2px; }
      main section .item:nth-of-type(9) .inner img {
        height: 87%;
        margin-bottom: 8px; }
      main section .item:nth-of-type(9) .inner p {
        font: 30px/1 'Josefin Sans';
        text-align: left; }
      main section .item:nth-of-type(14) .inner p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font: 20px/1 'Heebo';
        letter-spacing: 2px;
        font-size: 60px; }
      main section .item:nth-of-type(14) .inner span {
        text-align: left;
        display: block; }
      main section .item .inner {
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 5px;
        text-align: center; }
        main section .item .inner img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: saturate(30%);
          margin-bottom: 5px; }
        main section .item .inner .txt {
          width: 100%;
          height: 10%;
          text-align: center; }
          main section .item .inner .txt p {
            font: 14px/1 'Heebo';
            letter-spacing: 1px; }
          main section .item .inner .txt span {
            font: 14px/1 'Heebo';
            margin-bottom: 5px; }

/*# sourceMappingURL=style.css.map */
