* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}



@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Josefin+Sans&family=Open+Sans&display=swap');