@charset "utf-8";
@import "reset";

@mixin Bfont {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font: 20px/1 'Heebo';
    letter-spacing: 2px;    
}


main{
    width: 100%; 

    section{
        width: 100%; 
        &::after{
            content: ''; display: block; clear: both;
        }
        .item-sizer{
            width: 20%;
            height: 0px;
            opacity: 0;
        }
        .item{
            float: left;
            width: 20%; height: 200px;
            border-right: 1px solid #bbb;
            border-top: 1px solid #bbb;

            transition: 0.5s;
            &:nth-of-type(2){
                width: 100%;
                height: 100px;
                .inner .txt p{
                    font: 60px/1 'Heebo';
                    text-align: left;
                    padding: 20px 0;
                }
            }

            &:nth-of-type(3){
                width: 60%;
                height: 400px;
                .inner{
                    img{height: 90%;}
                }
            }
            &:nth-of-type(4), &:nth-of-type(15){
                height: 400px;
            }
            &:nth-of-type(5){
                height: 500px;
                .inner .wrap{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: stretch;
                    padding: 10px;
                    span{
                        display: flex;
                        justify-content: space-between;
                        font: 15px/1 'Heebo';
                        margin-bottom: 10px;
                        strong{
                            font: 15px/1 'Heebo';
                        }
                    }
                    img{
                        object-fit: cover;
                    }
                    p{
                        font: 15px/1.3 'Heebo';
                        margin-top: 10px;
                    }
                }
            }
            &:nth-of-type(7),&:nth-of-type(9),&:nth-of-type(12),&:nth-of-type(16),&:nth-of-type(17),&:nth-of-type(21),&:nth-of-type(22),&:nth-of-type(25),&:nth-of-type(26){
                height: 100px;
            }
            &:nth-of-type(7),&:nth-of-type(13),&:nth-of-type(23){
                width: 40%; 
            }
            &:nth-of-type(10){
                width: 40%; height: 400px;
            }
            &:nth-of-type(11),&:nth-of-type(18){
                height: 400px;
            }
            &:nth-of-type(19){
                width: 40%; height: 600px;
            }

            &:nth-of-type(7),&:nth-of-type(12),&:nth-of-type(17){
                .inner{
                    p{
                        @include Bfont;
                        i{
                            position: absolute;
                            right: 3%;
                            display: block;
                        }
                    }
                }
            }
            &:nth-of-type(8){
                .inner{
                    text-align: right;
                    padding: 20px;
                    
                    p{
                        border-top: 3px solid #111;
                        font: bold 17px/1 'Heebo';
                        margin-bottom: 5px;
                        padding-top: 5px;
                    }
                    h2{
                        font: bold 45px/1 'Heebo';
                        letter-spacing: -5px;
                    }
                    h3{
                        font: bold 30px/1 'Heebo';
                        letter-spacing: -2px;
                        margin-bottom: 5px;
                    }
                    span{
                        font: bold 14px/1 'Heebo';
                        display: block;
                        border-bottom: 3px solid #111;
                        padding-bottom: 5px;
                    }
                }
            }
            &:nth-of-type(10),&:nth-of-type(19){
                .inner{
                    img{height: 87%;margin-bottom: 8px;}
                    p{
                        font: 30px/1 'Josefin Sans';
                        text-align: left;
                    }
                    span{
                        text-align: right;
                        display: block;
                        font: 15px/1 'Heebo';
                        margin-top: 10px;
                    }
                }
            }
            &:nth-of-type(11){
                .inner{
                    // background: #ffebba;
                    p{
                        @include Bfont;
                        writing-mode: vertical-lr;
                        position: relative;
                        top: 20%;
                        left: 50%;
                        transform: translate(-50%,0);
                        
                    }

                } 
            }
            &:nth-of-type(14){
                .inner{
                    p{
                        @include Bfont;
                        font-size: 60px;
                    }
                    span{
                        text-align: left;display: block;
                    }
                }
            }
            &:nth-of-type(21){
                .inner{
                    i{
                        position: absolute;
                        left: 3%;
                        bottom: 3%;
                        display: block;
                    }
                    p{
                        @include Bfont;
                    }
                }
            }

            &:nth-of-type(23){
                .inner{
                    p{
                        @include Bfont;
                        font-size: 55px;
                    }
                }
            }
            &:nth-of-type(24){
                height: 300px;
            }



            .inner{
                width: 100%; height: 100%;
                background: #fff; 
                padding: 5px;
                text-align: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: saturate(30%);
                    margin-bottom: 5px;
                }
                .txt{
                    width: 100%;
                    height: 10%;
                    text-align: center;
                    p{
                        font: 14px/1 'Heebo';
                        letter-spacing: 1px;
                    }
                    span{
                        font: 14px/1 'Heebo';
                        margin-bottom: 5px;
                    }

                }
    
                
            }
            // &:hover{
            //     transform: scale(0.9);
            // }
    
            
        }
    }
}