@charset "utf-8";
@import "reset";

@mixin Bfont {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font: 20px/1 'Heebo';
    letter-spacing: 2px;    
}


main{
    width: 100%; 
    

    section{
        width: 100%; 
        
        &::after{
            content: ''; display: block; clear: both;
        }
        .item-sizer{
            width: 20%;
            height: 0px;
            opacity: 0;
        }
        .item{
            float: left;
            width: 20%; height: 200px;
            border-right: 1px solid #bbb;
            border-top: 1px solid #bbb;

            transition: 0.5s;
            &:nth-of-type(2){
                width: 100%;
                height: 100px;
                .inner .txt p{
                    font: 60px/1 'Heebo';
                    text-align: left;
                    padding: 20px 0;
                }
            }

            &:nth-of-type(3){
                width: 60%;
                height: 400px;
                .inner{
                    img{height: 90%;}
                }
            }
            &:nth-of-type(4), &:nth-of-type(15){
                height: 400px;
            }
            &:nth-of-type(5){
                height: 500px;
            }
            &:nth-of-type(5),&:nth-of-type(15),&:nth-of-type(18),&:nth-of-type(20),&:nth-of-type(22){
                .inner .wrap{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: stretch;
                    padding: 10px;
                    span{
                        display: flex;
                        justify-content: space-between;
                        font: 15px/1 'Heebo';
                        margin-bottom: 10px;
                        i{
                            margin-right: 70px;
                        }
                        strong{
                            font: 15px/1 'Heebo';
                        }
                        h2{
                            font: 13px/1 'Heebo';
                            border: 1px solid #333;
                            border-radius: 10px;
                            padding: 5px;
                        }
                    }
                    img{
                        object-fit: cover;
                    }
                    p{
                        font: 15px/1.3 'Heebo';
                        margin-top: 10px;
                    }
                }
            }
            &:nth-of-type(7){
                padding: 10px;
                .inner{
                    background: #111;
                    padding: 5px;
                    p{
                        color: #fff;
                    }
                }
            }
            &:nth-of-type(7),&:nth-of-type(9),&:nth-of-type(12),&:nth-of-type(16),&:nth-of-type(17),&:nth-of-type(21),&:nth-of-type(25),&:nth-of-type(26){
                height: 100px;
            }
            &:nth-of-type(7),&:nth-of-type(13),&:nth-of-type(23){
                width: 40%; 
            }
            &:nth-of-type(10){
                width: 40%; height: 400px;
            }
            &:nth-of-type(11),&:nth-of-type(18){
                height: 400px;
            }
            &:nth-of-type(19){
                width: 40%; height: 600px;
            }

            &:nth-of-type(7),&:nth-of-type(12),&:nth-of-type(17){
                .inner{
                    p{
                        @include Bfont;
                        i{
                            position: absolute;
                            right: 3%;
                            display: block;
                        }
                    }
                }
            }
            &:nth-of-type(8){
                .inner{
                    text-align: right;
                    padding: 20px;
                    
                    p{
                        border-top: 3px solid #111;
                        font: bold 17px/1 'Heebo';
                        margin-bottom: 5px;
                        padding-top: 5px;
                    }
                    h2{
                        font: bold 45px/1 'Heebo';
                        letter-spacing: -5px;
                    }
                    h3{
                        font: bold 30px/1 'Heebo';
                        letter-spacing: -2px;
                        margin-bottom: 5px;
                    }
                    span{
                        font: bold 14px/1 'Heebo';
                        display: block;
                        border-bottom: 3px solid #111;
                        padding-bottom: 5px;
                    }
                }
            }
            &:nth-of-type(10),&:nth-of-type(19){
                .inner{
                    img{height: 87%;margin-bottom: 8px;}
                    p{
                        font: 30px/1 'Josefin Sans';
                        text-align: left;
                    }
                    span{
                        text-align: right;
                        display: block;
                        font: 15px/1 'Heebo';
                        margin-top: 10px;
                    }
                }
            }
            &:nth-of-type(11){
                .inner{
                    padding: 50px 20px;
                    p{
                        // @include Bfont;
                        // writing-mode: vertical-lr;
                        // position: relative;
                        // top: 20%;
                        // left: 50%;
                        // transform: translate(-50%,0);
                        font: 30px/1 'Heebo';
                        margin-bottom: 35px;
                        
                    }
                    span{
                        font: 15px/1.2 'Heebo';
                        
                    }
                    a{
                        display: block;
                        color: #111;
                        width: 110px;
                        height: 35px;
                        font: 14px/35px 'Heebo';
                        text-align: center;
                        margin: 0 auto;
                        border: 1px solid #333;
                        border-radius: 15px;
                        margin-top: 50px;
                    }

                } 
            }
            &:nth-of-type(14){
                .inner{
                    p{
                        @include Bfont;
                        font-size: 60px;
                    }
                    span{
                        text-align: left;display: block;
                    }
                }
            }
            &:nth-of-type(21){
                .inner{
                    i{
                        position: absolute;
                        left: 3%;
                        bottom: 3%;
                        display: block;
                    }
                    p{
                        @include Bfont;
                    }
                }
            }

            &:nth-of-type(23){
                .inner{
                    p{
                        @include Bfont;
                        font-size: 55px;
                    }
                }
            }
            &:nth-of-type(20),&:nth-of-type(22){
                height: 300px;
            }
            &:nth-of-type(22){
                .inner .wrap span {
                    display: block;
                    text-align: left;
                    i{margin-left: 6px;}
                }
            }

            a{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: saturate(30%);
                    margin-bottom: 5px;
                }
            }

            .inner{
                width: 100%; height: 100%;
                background: #fff; 
                padding: 5px;
                text-align: center;
                
                .txt{
                    width: 100%;
                    height: 10%;
                    text-align: center;
                    p{
                        font: 14px/1 'Heebo';
                        letter-spacing: 1px;
                    }
                    span{
                        font: 14px/1 'Heebo';
                        margin-bottom: 5px;
                    }

                }
    
                
            }
            // &:hover{
            //     transform: scale(0.9);
            // }
    
            
        }
    }
}

.pop{
    width:100%; height:100vh; 
    background:rgba(0,0,0,0.8);
    position:fixed; top:0; left:0;  
    padding:100px; 
    z-index: 4;

    img{
        width:100%; height:100%; 
        object-fit:contain; 
    }

    iframe{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    span{
        font:bold 14px/1 'arial'; color:#fff; 
        position:absolute; top:55px; right:100px; 
        cursor:pointer; 
    }

}

@media screen and(max-width:1179px) {
    main{
        overflow: hidden;
        section{

            .item-sizer{
                width: 33.333%;
                height: 0px;
                opacity: 0;
            }
            .item{
                width: 33.333%; 

                &:nth-of-type(2){
                    width: 100%;
                    height: 100px;
                    .inner .txt p{
                        font: 55px/1 'Heebo';
                    }
                }
    
                &:nth-of-type(3),&:nth-of-type(7),&:nth-of-type(10),&:nth-of-type(13),&:nth-of-type(19){
                    width: 66.666%;
                }

                &:nth-of-type(15),&:nth-of-type(18),&:nth-of-type(22){
                    .inner .wrap{

                        padding: 5px;
                        span{
                            justify-content: initial;
                            i{
                                margin-right: 30px;
                                margin-left: 5px;
                            }
    
                            h2{
                                margin-left: 5px;
                            }
                        }
                    }
                }

                &:nth-of-type(11){
                    .inner{
                        padding: 50px 30px;
                        p{
                            font: 25px/1 'Heebo';
                            margin-bottom: 40px;   
                        }
    
                    } 
                }
                &:nth-of-type(14){
                    .inner{
                        p{
                            font-size: 40px;
                        }

                    }
                }

                &:nth-of-type(6){
                    width: 66.666%;
                }
                &:nth-of-type(15){
                    height: 500px;
                }
                &:nth-of-type(23){
                    width: 33.33%;
                    height: 300px;
                    .inner{
                        p{

                            font-size: 30px;
                        }
                    }
                }
                
                
            }
        }
    }
    
}
@media screen and(max-width:700px) {
    main{
        overflow: hidden;
        section{
            .item-sizer{
                width: 33.333%;
                height: 0px;
                opacity: 0;
            }
            .item{
                width: 33.333%; 

                &:nth-of-type(2){
                    width: 100%;
                    height: 100px;
                    .inner .txt p{
                        font: 45px/1 'Heebo';
                    }
                }
                &:nth-of-type(3){
                    width: 100%;
                }
                &:nth-of-type(4){height: 500px;}
                &:nth-of-type(5),&:nth-of-type(9),&:nth-of-type(15),&:nth-of-type(18){
                    width: 66.666%;
                }
                &:nth-of-type(7){
                    width: 33.333%;
                }

                &:nth-of-type(15),&:nth-of-type(18),&:nth-of-type(22){
                    .inner .wrap{
                        span{
                            h2{
                                display: none;
                            }
                        }
                    }
                }

                &:nth-of-type(11){
                    height: 300px;
                    .inner{
                        padding: 30px 10px;
                        p{
                            font: 20px/1 'Heebo';
                            margin-bottom: 20px;   
                        }
                        span{
                            font-size: 14px;
                        }
                        a{
                            font: 13px/30px "Heebo";
                            width: 100px;
                            height: 30px;
                            margin-top: 20px;
                        }
    
                    } 
                }
                

                &:nth-of-type(10),&:nth-of-type(23){
                    .inner{
                        p{
                            font-size: 20px;
                        }
                    }
                }
                

                &:nth-of-type(19){
                    height: 300px;
                    .inner {
                        p{
                            font: 20px/1 'Josefin Sans';
                        }
                        span{ display: none;}
                        
                    }
                }
                
            }
        }
    }
    
}


