@charset "utf-8";
@import "reset";

#header{
    width: 100%;
    position: relative;
    .inner{
        width: 1180px;
        margin: 0 auto;
        h1{
            a{
                display: block;
                text-align: center;
                font: bold 24px/1 'arial';
                color: #111;
                margin-top: 50px;
                margin-bottom: 10px;
            }
        }
        p{
            text-align: center;
            font: 14px/1 'arial';
        }
    }
}

main{
    width: 100%; padding: 4vw;

    section{
        width: 100%; 
        &::after{
            content: ''; display: block; clear: both;
        }
        .item-sizer{
            width: 20%;
            height: 0px;
            opacity: 0;
        }
        .item{
            float: left;
            width: 20%; height: 200px;
            border-right: 1px solid #bbb;
            border-top: 1px solid #bbb;

            transition: 0.5s;

            &:nth-of-type(2){
                width: 60%;
                height: 400px;
            }
            &:nth-of-type(3),&:nth-of-type(5),&:nth-of-type(8),&:nth-of-type(11),&:nth-of-type(15),&:nth-of-type(16),&:nth-of-type(20),&:nth-of-type(21),&:nth-of-type(24),&:nth-of-type(25){
                height: 100px;
            }
            &:nth-of-type(6),&:nth-of-type(12),&:nth-of-type(22){
                width: 40%; 
            }
            &:nth-of-type(9),&:nth-of-type(18){
                width: 40%; height: 400px;
            }
            &:nth-of-type(10),&:nth-of-type(17){
                height: 400px;
            }
            &:nth-of-type(19){
                width: 40%; height: 600px;
            }

            &:nth-of-type(2), &:nth-of-type(7), &:nth-of-type(12), &:nth-of-type(13), &:nth-of-type(19){
                border-left: 1px solid #bbb;
            }
            &:nth-of-type(19), &:nth-of-type(23), &:nth-of-type(24), &:nth-of-type(25){
                border-bottom: 1px solid #bbb;

            }





            .inner{
                width: 100%; height: 100%;
                background: #fff; 
                padding: 5px;
                text-align: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: saturate(30%);
                    margin-bottom: 5px;
                }
    
                p{
                    font: 14px/1 'arial';
                    letter-spacing: 1px;
                }
                span{
                    font: 14px/1 'arial';
                    margin-bottom: 5px;
                }
            }
            // &:hover{
            //     transform: scale(0.9);
            // }
    
            
        }
    }
}